[Unit]
Description=Configure Surface hardware
After=rpm-ostreed.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/surface-hardware-setup

[Install]
WantedBy=multi-user.target
